<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/swiper-bundle.min.css">
  <script src="https://kit.fontawesome.com/bb40b6d5e2.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title></title>
</head>

<body>
  <header>
    <div class="nav container">
      <a href="home" class="logo">
        Marcy<span>Movies</span>
      </a>
      <div class="search-box">
        <input type="search" name="" id="search-input" placeholder="Search movie">
        <i class="fa-solid fa-magnifying-glass fa"></i>
      </div>
      <a href="#" class="user"><i class="fa-solid fa-user"></i></a>
      <div class="navbar">
        <a href="#home" class="nav-link  nav-active">
          <i class="fa-solid fa-house-user  fa"></i>
          <span class="nav-link-title">Home</span>
        </a>
        <a href="#popular" class="nav-link">
          <i class="fa-brands fa-hotjar fa"></i>
          <span class="nav-link-title">Trending</span>
        </a>
        <a href="#movies" class="nav-link">
          <i class="fa-solid fa-compass fa"></i>
          <span class="nav-link-title">Explore</span>
        </a>
        <a href="#play" class="nav-link">
          <i class="fa-solid fa-tv fa"></i>
          <span class="nav-link-title">Movies</span>
        </a>
        <a href="#home" class="nav-link">
          <i class="fa-solid fa-heart fa"></i>
          <span class="nav-link-title">Favorites</span>
        </a>
      </div>
    </div>
  </header>
  <section class="home container" id="home">
    <img src="images/home-background.png" alt="" class="home-img">
    <div class="home-text">
      <h1 class="home-title">Hitman's Wife's <br> Bodygurd</h1>
      <p>Releasing 10th April</p>
      <a href="#" class="watch-btn">
        <i class="fa-solid fa-play fa"></i>
        <span>Watch the trailer</span>
      </a>
    </div>

  </section>
  <section class="popular container" id="popular">
    <div class="heading">
      <h2 class="heading-title">Popular Movies</h2>
  <div class="swiper-btn">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

  </div>
    </div>
    <div class="popular-content swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="movie-box">
            <img src="images/popular-movie-1.jpg" alt="" class="movie-box-img">
            <div class="box-text">
              <h2 class="movie-title">Spider-Man: No Way Home</h2>
              <span class="movie-type">Action</span>
              <a href="#" class="watch-btn play-btn">
                <i class="fa-solid fa-play fa"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="movie-box">
            <img src="images/popular-movie-2.jpg" alt="" class="movie-box-img">
            <div class="box-text">
              <h2 class="movie-title">Jungle Cruise</h2>
              <span class="movie-type">Comedy/Adventure</span>
              <a href="#" class="watch-btn play-btn">
                <i class="fa-solid fa-play fa"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="movie-box">
            <img src="images/popular-movie-3.jpg" alt="" class="movie-box-img">
            <div class="box-text">
              <h2 class="movie-title">Loki</h2>
              <span class="movie-type">Action</span>
              <a href="#" class="watch-btn play-btn">
                <i class="fa-solid fa-play fa"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="movie-box">
            <img src="images/popular-movie-4.jpg" alt="" class="movie-box-img">
            <div class="box-text">
              <h2 class="movie-title">Squid Games</h2>
              <span class="movie-type">Thriller/Gore</span>
              <a href="#" class="watch-btn play-btn">
                <i class="fa-solid fa-play fa"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="movie-box">
            <img src="images/popular-movie-5.jpg" alt="" class="movie-box-img">
            <div class="box-text">
              <h2 class="movie-title">The Falcon and The Winter Soldier</h2>
              <span class="movie-type">Action</span>
              <a href="#" class="watch-btn play-btn">
                <i class="fa-solid fa-play fa"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="movie-box">
            <img src="images/popular-movie-6.jpg" alt="" class="movie-box-img">
            <div class="box-text">
              <h2 class="movie-title">Hawkeye</h2>
              <span class="movie-type">Action</span>
              <a href="#" class="watch-btn play-btn">
                <i class="fa-solid fa-play fa"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="movie-box">
            <img src="images/popular-movie-7.jpg" alt="" class="movie-box-img">
            <div class="box-text">
              <h2 class="movie-title">Agents of S.H.I.E.L.D</h2>
              <span class="movie-type">Action</span>
              <a href="#" class="watch-btn play-btn">
                <i class="fa-solid fa-play fa"></i>

              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="movie-box">
            <img src="images/popular-movie-8.jpg" alt="" class="movie-box-img">
            <div class="box-text">
              <h2 class="movie-title">Flash</h2>
              <span class="movie-type">Action</span>
              <a href="#" class="watch-btn play-btn">
                <i class="fa-solid fa-play fa"></i>

              </a>
            </div>
          </div>
        </div>

      </div>



    </div>

  </section>

  <section class="movies container" id="movies">
    <div class="heading">
      <h2 class="heading-title">Movies and Shows</h2>
  </div>
  <div class="movies-content">
    <div class="movie-box">
      <img src="images/movie-1.jpg" alt="" class="movie-box-img">
      <div class="box-text">
        <h2 class="movie-title">Jumanji</h2>
        <span class="movie-type">Adventure/Comedy</span>
        <a href="/play" class="watch-btn play-btn">
          <i class="fa-solid fa-play fa"></i>

        </a>
      </div>
    </div>
    <div class="movie-box">
      <img src="images/movie-2.jpg" alt="" class="movie-box-img">
      <div class="box-text">
        <h2 class="movie-title">Hitman & Bodygurd 2</h2>
        <span class="movie-type">Action</span>
        <a href="#" class="watch-btn play-btn">
          <i class="fa-solid fa-play fa"></i>

        </a>
      </div>
    </div>
    <div class="movie-box">
      <img src="images/movie-3.jpg" alt="" class="movie-box-img">
      <div class="box-text">
        <h2 class="movie-title">Shang-Chi</h2>
        <span class="movie-type">Action</span>
        <a href="#" class="watch-btn play-btn">
          <i class="fa-solid fa-play fa"></i>

        </a>
      </div>
    </div>
    <div class="movie-box">
      <img src="images/movie-4.jpg" alt="" class="movie-box-img">
      <div class="box-text">
        <h2 class="movie-title">Eternals</h2>
        <span class="movie-type">Action</span>
        <a href="#" class="watch-btn play-btn">
          <i class="fa-solid fa-play fa"></i>

        </a>
      </div>
    </div>
    <div class="movie-box">
      <img src="images/movie-5.jpg" alt="" class="movie-box-img">
      <div class="box-text">
        <h2 class="movie-title">James Bond: Spectre</h2>
        <span class="movie-type">Action</span>
        <a href="#" class="watch-btn play-btn">
          <i class="fa-solid fa-play fa"></i>

        </a>
      </div>
    </div>
    <div class="movie-box">
      <img src="images/movie-6.jpg" alt="" class="movie-box-img">
      <div class="box-text">
        <h2 class="movie-title">Money Heist</h2>
        <span class="movie-type">Action</span>
        <a href="#" class="watch-btn play-btn">
          <i class="fa-solid fa-play fa"></i>

        </a>
      </div>
    </div>
    <div class="movie-box">
      <img src="images/movie-7.jpg" alt="" class="movie-box-img">
      <div class="box-text">
        <h2 class="movie-title">Wolverine</h2>
        <span class="movie-type">Action</span>
        <a href="#" class="watch-btn play-btn">
          <i class="fa-solid fa-play fa"></i>

        </a>
      </div>
    </div>
    <div class="movie-box">
      <img src="images/movie-8.jpg" alt="" class="movie-box-img">
      <div class="box-text">
        <h2 class="movie-title">Johnny English</h2>
        <span class="movie-type">Comedy</span>
        <a href="#" class="watch-btn play-btn">
          <i class="fa-solid fa-play fa"></i>

        </a>
      </div>
    </div>

  </div>


  </section>

<div class="next-page">
  <a href="#" class="next-btn">Next Page</a>

</div>

<div class="copyright">
  <p>&#169; MarcyMovies 2022 All Rights Reserved</p>

</div>



  <script src="/js/swiper-bundle.min.js">

  </script>
  <script type="text/javascript" src="/js/main.js">
  </script>
  <script type="text/javascript" src="app.js">
  </script>
</body>

</html>
