<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/swiper-bundle.min.css">
  <script src="https://kit.fontawesome.com/bb40b6d5e2.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title>Jumanji</title>
</head>

<body>
  <header>
    <div class="nav container">
      <a href="home" class="logo">
        Marcy<span>Movies</span>
      </a>
      <div class="search-box">
        <input type="search" name="" id="search-input" placeholder="Search movie">
        <i class="fa-solid fa-magnifying-glass fa"></i>
      </div>
      <a href="#" class="user"><i class="fa-solid fa-user"></i></a>
      <div class="navbar">
        <a href="home" class="nav-link  nav-active">
          <i class="fa-solid fa-house-user  fa"></i>
          <span class="nav-link-title">Home</span>
        </a>
        <a href="#home" class="nav-link">
          <i class="fa-brands fa-hotjar fa"></i>
          <span class="nav-link-title">Trending</span>
        </a>
        <a href="#home" class="nav-link">
          <i class="fa-solid fa-compass fa"></i>
          <span class="nav-link-title">Explore</span>
        </a>
        <a href="#home" class="nav-link">
          <i class="fa-solid fa-tv fa"></i>
          <span class="nav-link-title">Movies</span>
        </a>
        <a href="#home" class="nav-link">
          <i class="fa-solid fa-heart fa"></i>
          <span class="nav-link-title">Favorites</span>
        </a>
      </div>
    </div>
  </header>

<div class="play-container container">
<img src="images/play-background.jpg" alt="" class="play-img">
<div class="play-text">
  <h2>Jumanji: Welcome To The Jungle</h2>
  <div class="rating">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
  </div>
  <div class="tags">
    <span>Action</span>
    <span>Adeventure</span>
   <span>Comedy</span>
  </div>
  <a href="#" class="watch-btn">
    <i class="fa-solid fa-play fa"></i>
    <span>Watch the trailer</span>
  </a>
</div>
  <i class="fa-solid fa-play fa play-movie"></i>
  <div class="video-container">
    <div class="video-box">
      <video id="myvideo" src="images/Jumanji.mp4" controls></video>
      <i class="fa-solid fa-x close-video"></i>

    </div>

  </div>

</div>
  <div class="about-movie container">
    <h2>Jumanji</h2>
    <p>Four student, jungle shenanigans</p>
  </div>
  <h2 class="casting-heading">Movie Cast</h2>
  <div class="cast">
    <div class="cast-box">
      <img src="images/cast1.jpg" alt="" class="cast-img">
      <span class="cast-title">Dwayne Johnson</span>
    </div>
    <div class="cast-box">
      <img src="images/cast2.jpg" alt=""class="cast-img">
      <span class="cast-title">Dwayne Johnson</span>
    </div>
    <div class="cast-box">
      <img src="images/cast3.jpg" alt="" class="cast-img">
      <span class="cast-title">Kevin Hart</span>
    </div>
    <div class="cast-box">
      <img src="images/cast4.jpg" alt="" class="cast-img">
      <span class="cast-title">Jack Black </span>
    </div>
    <div class="cast-box">
      <img src="images/cast5.jpg" alt="" class="cast-img">
      <span class="cast-title">Nick Jonas</span>
    </div>
    <div class="cast-box">
      <img src="images/cast6.jpg" alt="" class="cast-img">
      <span class="cast-title">Dwayne Johnson</span>
    </div>

  </div>
  <div class="download">
    <h2 class="donwload-title">Download Movie</h2>
    <div class="download-links">
      <a href="images/Jumanji.mp4" download>480p</a>
      <a href="images/Jumanji.mp4" download>720p</a>
      <a href="images/Jumanji.mp4" download>1080p</a>
    </div>

  </div>



  <div class="copyright">
    <p>&#169; MarcyMovies 2022 All Rights Reserved</p>

  </div>
  <script src="/js/swiper-bundle.min.js">

  </script>
  <script type="text/javascript" src="/js/main.js">
  </script>
  <script type="text/javascript" src="app.js">
  </script>
</html>
